:root {
  --accent: #607CE6;
  --dark: #333333;
  --light: #FFFFFF;
  --third: #D9D9D9;
  --gray: #888888;
  --light-gray: #F5F5F5;

  --font-family: "Source Sans 3", sans-serif;

  --section-offset-desktop: 80px;
  --section-offset-tablet: 60px;
  --section-offset-mobile: 40px;

  --margin-bottom-lg: 32px;
  --margin-bottom-md: 20px;

  --transition-duration: .2s;
}